<?xml version="1.0" encoding="utf-8"?>
<DeploymentEvent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/VisualStudio/DeploymentEvent/2013/06">
  <ProjectName>FabrikamFiber.Extranet.Web</ProjectName>
  <Build type="MSBuild">
    <MSBuild>
      <BuildLabel kind="label">AutoGen_fbf311ea-0c45-4a24-929a-8baab5e5be9a</BuildLabel>
      <BuildId kind="id">AutoGen_fbf311ea-0c45-4a24-929a-8baab5e5be9a</BuildId>
      <BuildTimestamp kind="informative, summary">Mon, 15 Sep 2014 17:26:20 GMT</BuildTimestamp>
      <BuildMachine kind="informative">RDAVIS-8</BuildMachine>
      <Configuration kind="informative">Release</Configuration>
      <Platform kind="informative">AnyCPU</Platform>
      <BuiltSolution>FabrikamFiber.CallCenter.sln</BuiltSolution>
    </MSBuild>
  </Build>
</DeploymentEvent>